/* page 1 hanya wael fawzy */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
#page1{
  height: 100vh;
  background: center center/cover no-repeat;
  background-attachment: fixed; 
  background-image: var(--background-image);


  
}
#page1:not(.dark-mode) {
  --background-image: url('view-assortment-with-sliced-pie-leaves.jpg');
  

  
}
.dark-mode {
  --background-image: url('dark-cloth-with-plate-waffles.jpg');
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  list-style: none;
 

  
}




#navbar img {
  width: 90px;
  height: 90px;
  margin-left: 100px;

}

nav ul {
  display: flex;
  margin-right: 100px;
  list-style: none;
 font-family: "quicksand";
 
}

nav ul li a {
  padding: 15px 20px;
  font-weight: 600;
  color: var(--color);
  text-decoration: none;

}

nav ul li a:hover {
  border-bottom: 2px solid green;
  list-style: none;
}



header .content {
  display: flex;
  flex-direction:column;  
  align-items: center;
  justify-content: center;
  height: 75%; 
}








header .content h1 {
  font-size: 80px;
  color:red;
  font-family: "dancing script";
}




header .content p {
  color: white;
  font-family: "quick sand"

}







.n2:not(.dark-mode) {

  --color:  white;
  
}


.button1{

  color: white;
  border: 1px solid white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
  font-family:"dancingscript";
  display: inline-block;
  padding: 1px 10px;
 
 
}
.button9{
  color: white;
  border: 1px solid white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
  font-family:"dancingscript";
  display: inline-block;
  padding: 1px 10px;


}
div.gallery {
  margin: 5px;
 
 float: left;
  width: 180px;
 

}





div.gallery img {
width: 150px;
height: 150px;
outline: auto;
outline-color: white;
justify-content: space-evenly;
opacity: 0.7;

}

.gallery{
  position: relative;
  width: 50%;
  border-radius: 20px;
 
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  width: 150px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(255, 255, 255,0.5);
}

.gallery:hover .overlay {
  opacity: 1;
 
}

.text {
  color: black;
  font-size: 30px;
  font-family: "dancing script";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9999; /* to make sure overlay is above other content */
  background-attachment: fixed; 
}
.content {
  display: flex;
 
  border: 1px solid white; 
  padding: 5px; 
margin-bottom: 200px;


}

/* page 2 hanya wael fawzy */

#page2{
  background-color: var(--background-color);

 
  
}

#page2:not(.dark-mode) {
  --background-color: #f1f2f6;
  --color: rgb(0, 0, 0, 0.85);

  
}
.p1{

  color: white;
  font-family:"quicksand";

}

.dark-mode {
  --background-color:rgb(0, 0, 0, 0.85);
  --color: rgb(241, 242, 246);
  
}




#mode-toggle6 {
  animation: pulse 1s infinite; 
  border-radius: 15px;
  background:black;
  color: aliceblue; 
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  font-family: dancing script;
  height: 50px;
  width: 150px;
  display: inline-block;
  text-align: center;
  padding: 12px 10px 30px 10px;


}
#mode-toggle6:hover{

  background-color: black;
  color: white;
 
}
@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}



.menu0{

  display: flex;
  flex-direction:column;  
  align-items: center;
  justify-content: center;
  height: 75%;

  font-size: 20px;
 


}

.equal{

  display: inline-flex;
  align-items: baseline;



}

.image1 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
 align-items: center;
}

.image1:hover  {
  transform: scale(1.1); 
  box-shadow:0 0 15px rgba(181, 21, 21, 0.7);
}
.price1{

font-size: 20px;
margin-top: 10px;
margin-left: 15px;
color: black;

}

#main{

  color: var(--color);
font-family:"dancing script";
animation: slideIn 7s ease ;

}
@keyframes slideIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



.h1{
color:black;
font-family: "dancing script";
margin: auto;
font-size: 30px;

}

#search{
width: 300px;

}
.menuitems7{
color: white;
display: flex;
justify-content: space-between;
box-sizing: content-box;



}
figure:has(figcaption) {
  box-shadow: black;
  background-color: #9f3f3f;
  padding: 0.9rem;
width: 300px;
height: 400px;
  border-radius: 5px;
}

.menuitems7 img {
  width: 200px;
  height: 200px;
  object-fit: cover; 
 margin-top: 90px;
 outline-style: auto;
 outline-color: white;
margin: 20px;
  opacity: 0.8;
  

}
 
.second{
 height: 80%;
 width: 30%;
 margin-right: 100px;



}
figure{
border: 30px white;



}
.boxcontainer {

margin-left: 200px;

}

.button99 {

  padding: 5px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 80px;
  transition-duration: 0.4s;
  cursor: pointer;
 /* margin-top: 30px; */

}

.button1 {

  color:black; 
  border: 2px solid rgb(255, 255, 255,0.4);
  background-color: white;
}

.button1:hover {
  background-color:#9f3f3f;
  color: white;
}
.button2{
  color: white; 
  border: 2px solid rgb(255, 255, 255,0.4);
  border-radius: 10px;
  margin-top: 60px;
  background-color: black;
  

}
.button2:hover {
  background-color:#9f3f3f;
  color: white;
}
.price1{

  color: black;
}
.price2{
margin-left: 150px;
color: black;
}

.price3{

  margin-left: 100px;
  color: black;

}

.price4{

margin-left: 90px;
color: black;

}


#search{

 border-radius: 20px;
 height: 30px;
 border-color: black;
 padding-left: 20px;
}
#b9{
    border-radius: 20px;
    height: 30px;
    border-color: black;
}
.dropdown {
  position: relative;
  display: inline-block;
 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
 width:307px;
 border-radius: 15px 50px;

 
 
 
}

.dropdown-content a {
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
 font-family: "quicksand";

}

.dropdown-content a:hover {background-color: rgba(181, 21, 21, 0.7);
  color:white;
  font-size: 20px;


}

.dropdown:hover .dropdown-content {
  display: block;
}

.fot{
width: 100%;
text-align: center;
align-items: center;
padding: 0;
margin: 0;


}
#footer7{
  
bottom: 0;

color: rgb(0, 0, 0, 0.85);



}
#toggleButton{
align-items: center;
margin-left: -300px;
margin-right:-500px;
border-radius: 10px;
padding: 10px;
animation: pulse 1s infinite; 

}
#toggleButton:hover{

  background-color: #9f3f3f;
 
}
@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.iframe-container {
  display: none;
  text-align: center;
  margin-top: 20px; 
}

iframe {
  width: 80%;
  height: 400px; 
}
